{% extends "index.html" %} {% block content %}
<h1>All Games</h1>
<p>Heads or Tails</p>
<a href='https://replit.com/join/armmizxbpc-abaruru14'>Heads or Tails</a>
<p>Rock, Paper, Scissors</p>
<a href='https://replit.com/join/pksoeayzfq-abaruru14'>Rock Paper Scissors</a>
<p>Shadow Box</p>
<a href='https://replit.com/join/ituavwhvtm-abaruru14'>Shadow Box</a>
<p>Guess The Number</p>
<a href='https://replit.com/join/ingqarbjfx-abaruru14'>Guess The Number</a>
<p>Adventure Time With Wu</p>
<a href='https://replit.com/join/fflalqdfar-abaruru14'>Adventure Time With Wu</a>
<p>Soccer Quiz</p>
<a href='https://replit.com/join/zdyagaxcqn-abaruru14'>Soccer Quiz</a>
{% endblock %}
